.local/
*.tar.gz
# dependencies
node_modules/

# env / secrets
.env
.env.local
.env.production


# logs
*.log

# mac junk
.DS_Store

# builds
dist/
build/

# keys
*.pem
*.key
*.p12
*.crt
*.pfx

# editors
.vscode/
.idea/

# archives
*.tar.gz
